body,ul,li,dl,dt,dd,p,ol,h1,h2,h3,h4,h5,h6,form,img,table,fieldset,legend{margin:0; padding:0;}
ul,li,ol{list-style:none;}
img,fieldset{border:0; }
img{display:block;}
a{text-decoration:none; color:#333;}
h1,h2,h3,h4,h5,h6{font-weight:100;}
body{ font-family:"微软雅黑";}
input,a{outline:none;}

header,#top,#nav,#main,#bottom,footer{
    width: 100%;
    min-width: 1000px;
}

//logo
#top{
    height: 77px;
    overflow: hidden;
}
#top_wrap{
    position: relative;
}
#top_wrap h1{
    float: left;
    margin-left: 100px;
    margin-top: 17px;   
}
#top_wrap h1 img{
    width: 425px;
    height: 52px;
}


 
 #sousuo{
     float: left;
     margin-top: 14px;
     margin-left: 14px;
 }   
 #search #txt, #search #btn{
     float: left;
 }
  #search #txt{
      width: 274px;
      height: 30px;
      box-sizing: border-box;
      border: 1px solid #CCCCCC;
  }
 #search #btn{
      height: 30px;
      border: 0;
      width: 65px;
      background: #444;
      color: #fff;
      cursor: pointer;
  }
 #word a:hover{
     color: red;
 }
  
  
 
 #word{
     clear: both;
 }
 
#word span{
    font-size: 12px;
    color: #ccc;
}

#word a{
    font-size: 12px;
    color: #888;
}

.active{
               background: burlywood;
               color: brown;
            }

//购物车图标
#cartlogo{
    float: left;
    width: 126px;
    height: 34px;
    background-image:url(../images/head_cart_bg.gif) ;
    background-repeat: no-repeat;
    background-position:left top;
    color: #666;
    font-size: 12px;
    line-height: 34px;
    padding-left: 45px;
    box-sizing: border-box;
    margin: 20px 0 0 70px;
    cursor: pointer;
}

#cartlogo span{
    color:#cc0000;
}
#cartlogo:hover{
    background-position:left -34px;
    color: #fff;
}

//导航栏
#nav{
    height: 34px;
    background: #a21f25;
}
#allgods{
    float: left;
    position: relative;
    background:yellow;
     margin-left: 100px;
}
#allgods p{
    color: #fff;
    font-size:14px ;
    font-family: "微软雅黑";
    width: 188px;
    height: 100%;
    background: #b9363d;
    line-height: 34px;
    text-align: center;  
}

#navlist li{
    float: left;
    line-height: 34px;
}
#navlist span{
    float: left;
    color: #b6242b;
    font-size: 14px;
    line-height: 34px;
}
#navlist li a{
    color: #fff;
    font-size:14px ;
    float: left;
    padding-left: 18px;
    padding-right: 20px;
}
#navlist li a:hover{
    background: #444444;
}

#guanzhu{
    float: left;
    position: relative;
}
#saoma{
    width: 165px;   
}
#wx2{
    position: absolute;
    top: 34px;
    display: none;    
}

#guanzhu:hover #wx2{
    display: block;
}

#shangxin{
    float: left;
    font-size: 14px;
    line-height: 34px;
    color: #ccc;
    margin-left: 100px;
}


#shangxin a{
    color: #fff;
    font-size:12px ;
}
#shangxin a:last-child{
    color: #ffcc00;
}

#shangxin a:hover{
    color: #ffcc00;
}


//所有商品分类部分
#detailist{
    position: absolute;
    width: 187px;
    background: #333333;
}
#detailist>li{
    width: 100%;
    height: 20px;
}

#detailist>li>a{
    color:#fff ;
    font-size: 14px;
}
//#detailist>li:hover{
//  background: #a21f25;
//}

.secondul{
    width: 287px;
    position: absolute;
    top: 0;
    left: 187px;
}

.secondul{
    display: none;
}

#detailist{
    display: none;
}


.hover{
    background: #a21f25;
}

.show{
    display: block;
}

.secondul{
    background: #333;
}

.threeul{
     color:blue;
    font-size: 12px;
    margin-top: 5px;
}

.goods .goodstwo>a{
    color:#fff;
    font-size: 16px;
    clear: all;
    background:#a21f25;
    display: block;
    margin-top: 4px;
}

.secondul li a,.threeul li a{
     color:#fff ;
    font-size: 14px;
}

.goodstwo a:hover{
    color: red;  
}
.secondul li a:hover{
     color: red;
}
.threeul li a:hover{
    color: red;
}

.threeul li{
    float: left;
    margin-left: 8px;
}

.goodstwo>a{
    clear: both;
}

//头部nav
header{
    height: 25px;
    background: #eeeeee;
}

#headnav li:first-child a{
    color: #ff6600;
}

#headnav{
    margin-left:450px ;
}

#headnav li{
    float: left;
    padding-left: 15px;
    padding-right: 10px;
    border-right: 1px solid #cecece;
    margin-top: 2px;
}

#qq{
    float: left;
    margin-top: 4px;
    height: 16px;
    width: 16px;
}

#phone{
  display: inline-block;
    margin-top: 4px;
    height: 14px;
    width: 10px;
}

#tel{
    width:124px;
    height: 16px;
    float: left;
     display: inline-block;
     margin-top: 4px;
}

#headnav li a:hover{
    text-decoration: underline;
    color: red;
}

.icon{
    position: relative;
}

.icon em{
    margin-top: 10px;
   float:right;
    height: 0;
    width: 0;
    border-style: solid;
    border-width: 5px;
    border-color: #000 #eee #eee #eee;
}


#headnav li a{
    width: 100%;
    color: #666;
    font-size: 12px;
    margin-right: 8px;
}

#top{clear: both;}


#mysome{
   display: none;
   position: absolute;
   z-index: 9;
   left: -80px;
    width: 180px;
    padding-bottom: 15px;
    padding-left: 10px;
}

#mysome li{
    border-right: 0;
   float: left;
    border-bottom:1px dotted #cecece;
}

#mysome li:first-child a{
     color:#666; 
}

#mysome li a{
     color:#666; 
}
.mysome:hover{
    background: #fff;
}

.mysome:hover #mysome{
    background:#fff;
    display: block;
}

.mysome:hover  em{
    border-color: #000 #fff #fff #fff;
}


#phoneshoe{
    width: 220px;
    height: 130px;
    position: absolute;
    z-index: 9;
    box-sizing: border-box;
    left: -100px;
    background: #fff;
   display: none;
}

#phoneshoe img{
    width: 100px;
    margin-left: 5px;
    float: left;
}

#ligth:hover{
    background: #fff;
}

#ligth:hover #phoneshoe{
    display: block;
}

#ligth:hover em{
    border-color: #000 #fff #fff #fff;
}

//bottom部分
#bottom{
   height: 466px;
}
#bot_shang{
    overflow: hidden;
}

#flexband{
    width: 992px;
    height: 144px;
    border:1px solid #999;
    margin: 12px auto;
    display:flex;   
    box-sizing: border-box;
     justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    border-bottom: 0;
}
#flexband li{
    width: 98px;
    height: 70px;
    border-width: 0 1px 1px 0;
    border-color:#999999 ;
    border-style: solid;  
}

#flexband li a{
    display: block;
    width: 98px;
    height: 70px;
    background-image:url(../images/bottom_band.png);
    background-repeat:no-repeat ;
    background-position:25px -175px ;
}

#bot_title{
    width: 992px;
     margin: 0 auto;
}

#bot_title span,#bot_title h2{
    float: left;
}
#bot_title span{
    width: 430px;
    height: 0px;
    border: 1px solid #999999;
    margin-top: 15px;
}

#bot_title h2{
    margin: 0 10px;
    font-weight: 0;
}

#wang1 dl{
    float: left;
    margin: 10px 90px;
}
#wang1{
    margin-top: 20px;
    width: 992px;
    clear: both;
    margin: 10px auto;
}
#wang1 dl dt img{
    width: 74;
    height: 43px;
}
#wang1 dl dd a:hover{
    color: red;
}
#returntop{
    clear: both;
    margin-top: 20px;
      width: 980px;
      height: 50px;
      margin: 0 auto;
      position: absolute;
      bottom: 0;
      left: 50%;
      margin-left: -490px;
}

#returntop a img{
    width: 980px;
    height: 50px;
}
#everyshoe{
    clear: both;
    width: 980px;
    background: red;
   margin: 10px auto;
    box-sizing: border-box;
}

#everyshoe ul{
    width: 240px;
    float: left;
    border-right:1px dashed #ccc ;
}

#everyshoe ul a{
    display: inline-block;
    font-size: 12px;
    color: #555;
    margin-left: 18px;
    margin-top:16px;
}
#everyshoe ul a:hover{
    color: red;
}
#bottom{
    position: relative;
}

//男子运动下拉菜单
#mansportlist{
    position: relative;
}
#mansportlist #mansport{
    position: absolute;
    width:700px;
    height: 300px;
    background: #fff;
    top: 34px;
    overflow: hidden;
   display: none;
}
#mansport>ul{
    float: left;
    width: 120px;
    margin-top:20px;
}


#mansport>ul>p{
    text-indent: 10px;
    font-family: "微软雅黑";
    font-weight: 600;
}
#mansport>ul>li>a{
    font-size:14px;
    color: #888;
}
#mansport>ul>li>a:hover{
    color: red;
    background: #fff;
}

#mansport>ul>li{
    height: 25px;
}

#mansport>ul{
    margin-left: 60px;
}


#mansport ul:nth-of-type(3){
    width: 250px;    
    margin-left:60px ; 
}

#mansport ul:nth-of-type(3) li{
    width:50px ;
    height: 30px;
}

#mansport ul:nth-of-type(3) li{
    float: left;
    width:80px ;
    margin-top: 8px;
}


//女子运动下拉菜单
#womansportlist{
    position: relative;
}
#womansportlist #womansport{
    position: absolute;
    width:700px;
    height: 300px;
    background: #fff;
    top: 34px;
    overflow: hidden;
   display: none;
}
#womansport>ul{
    float: left;
    width: 120px;
    margin-top:20px;
}


#womansport>ul>p{
    text-indent: 10px;
    font-family: "微软雅黑";
    font-weight: 600;
}
#womansport>ul>li>a{
    font-size:14px;
    color: #888;
}
#womansport>ul>li>a:hover{
    color: red;
    background: #fff;
}

#womansport>ul>li{
    height: 25px;
}

#womansport>ul{
    margin-left: 60px;
}


#womansport ul:nth-of-type(3){
    width: 250px;    
    margin-left:60px ; 
}

#womansport ul:nth-of-type(3) li{
    width:50px ;
    height: 30px;
}

#womansport ul:nth-of-type(3) li{
    float: left;
    width:80px ;
    margin-top: 8px;
}


//footer
footer{
    height: 418px;
    background: #f5f5f5;
    border-top: 1px solid #ce3c3b;
    overflow: hidden;
}

#foot_shang{
    width: 980px;
    margin: 4px auto;
}
#foot_shang_left{
    float: left;
    width: 218px;
    border-right: 1px solid #ccc;
}

#foot_shang_right{
    float: left;
}
#foot_shang_right_top img{
    float: left;
    margin-left: 40px;
}
#foot_shang_right_bottom{
    clear: both;
    margin-left:40px ;
}
#foot_shang{
    margin-top: 15px;
}
#foot_shang_right_bottom ul{
    float: left;
    margin-top: 27px;
    margin-right: 110px;
}
#foot_shang_right_bottom ul p{
    font-size: 14px;
    color: #666;
    height: 27px;
}

#foot_shang_right_bottom ul li a{
    font-size: 12px;
    color: #999;
    height: 19px;
}

#foot_shang_right_bottom ul li a:hover{
    color: red;
    text-decoration: underline;
}

#foot_shang_right_bottom #last_ul{
    margin-right: 0px;
}
#foot_xia{
    clear: both;
}

#foot_xia p{
    text-align: center;
     font-size: 12px;
    color: #999;
}
#foot_xia p a{
    font-size: 12px;
    color: #999;
}

#foot_xia p a:hover{
    color: red;
    text-decoration: underline;
}

#foot_xia p:nth-of-type(1){
    padding-top: 20px;
    margin-bottom: 12px;
}

#foot_xia p:nth-of-type(2){
    margin-bottom: 25px;
}

#footer_pic{
    width: 980px;
    margin: 0 auto;
    padding-left: 300px;
}
#footer_pic img{
    float: left;
    margin-left: 10px;
}

