#cart_main{
    width:982px;
    min-height:400px ;
    border: 1px solid #ccc;
    margin: 5px auto;
}

#cart_title{
    height: 32px;
    background: #fafafa;
    color: #555;
    font-size: 14px;
    line-height: 32px;
}

#cart_title span{
    float: left;
}

#cart_title span:nth-of-type(1){
    margin-left: 160px;
}

#cart_title span:nth-of-type(2){
    margin-left: 140px;
}

#cart_title span:nth-of-type(3){
    margin-left: 50px;
}

#cart_title span:nth-of-type(4){
    margin-left: 55px;
}

#cart_title span:nth-of-type(5){
    margin-left: 50px;
}

#cart_title span:nth-of-type(6){
    margin-left: 50px;
}

#cart_title span:nth-of-type(7){
    margin-left: 65px;
}

#cart_list{
    width: 100%;
    
}
#cart_list li{
    height: 80px;
    //line-height: 80px;
    border-bottom: 1px dashed #ccc;
}
#cart_list li img{
    float: left;
    width: 50px;
    height: 50px;
}
#cart_list li div:nth-of-type(1){
    float: left;  
    width: 310px;  
    font-size: 12px;
}

#cart_list li div:nth-of-type(2){
    float: left;
     margin-left: 50px;
}

#cart_list li strong{
    float: left;
    margin-left: 20px;
}
#cart_list li strong:nth-of-type(2){
    margin-left: 30px;
}
.num_line_txt{
    width: 20px;
    text-align: center;
}
#cart_list li p{
    float: left;
    font-size: 12px;
}
#cart_list li p a{
    display: block;
}
#cart_list li{
    box-sizing: border-box;
    padding-top: 20px;
    padding-left: 10px;
}
#cart_list li a:hover{
    color: red;
}
#cart_list li .cart_delete{
    float: left;
    margin-left: 40px;
}
.cart_bottom{
    float: right;
    margin-right: 100px;
    margin-top: 50px;
}

#con_or_stop{
    clear: both;
    float:right;
    margin-top: 30px;
}
#con_or_stop a{
    float: left;
}

#con_or_stop a:nth-of-type(2){
    width: 170px;
    height: 36px;
    background: #ff7200;
    text-align: center;
    line-height: 36px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;   
    margin-left: 10px;
    margin-right: 50px;
    border-radius: 3px;
}

#con_or_stop a:nth-of-type(1){
    color: orange;
    margin-top: 5px;
}
