//banner
#banner{
    height: 552px;
    width: 100%;
    background-image:url(../images/banner.jpg);
    background-repeat: no-repeat;
    background-position:-340px top; 
}
#banner img{
    height: 552px;
}

//开始写main部分
#main{
    min-height: 600px;
    background: #c5defd;
}
#logoall{
    width:874px;
    height: 434px;
    margin: 0 auto 20px;
    background-image:url(../images/allpic.jpg) ;
    background-repeat:no-repeat ;
    background-position:-523px 5px ;
    position: relative;
}
#line1{
    position: absolute;   
    height:250px ;
    width: 100px;
    left: 150px;
    top: 33px;
}
#line1 li a{
    display: block;
    width: 100px;
    height:125px ;
}

//一张大图
#bigpic{
    background-image:url(../images/main1_pic.jpg) ;
    background-repeat:no-repeat ;
   background-position: -330px top;
    height: 1060px;
}

//运动短袖
#shortshirt_tiitle a{
    display: block;   
    width: 951px;
    height: 291px;
    margin: 10px auto 30px;
    position: relative;
}


#shortshirt_list a{
    margin-bottom: 6px;
    border-width: 2px;
    border-style: solid;
    border-color: #fff;
}

#shortshirt_tiitle a img{
    width: 951px;
    height: 291px;
    position: absolute;
    top: 0;
    left: 0;
}

#shortshirt_list{
    width: 978px;
    min-height: 500px;
    margin: 0 auto;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    justify-content:space-between;
    align-content: flex-start;
    flex-wrap: wrap;
}

#shortshirt_list dl{
    width: 237px;
    height: 282px;
    background: #fff;
}

#shortshirt_list dl{
    width: 237px;
    height: 282px;
    background: #fff;
}


#shortshirt_list dl dd{
    border-top: 1px solid #ccc;
}
#shortshirt_list dl dd p{
    padding-left: 8px;
}

#shortshirt_list dl b{
    color: red;
    margin-left: 8px;
}

#shortshirt_list a:hover{
    border-color: red;
}

//右边侧边栏
#cbl_main{
    width: 200px;
    background: #333333;
    position: fixed;
    top: 0;
    bottom: 0;
    right: -170px;
    z-index: 9999;
    
}

#cbl_main_left{
    float: left;
    width: 15%;
    height: 100%;
    color: #fff;
}

#cbl_main_left li{
    height: 150px;
    box-sizing: border-box;
    padding-left: 7px;
    padding-top: 10px;
    font-family: "微软雅黑";
    cursor: pointer;
}

#cbl_main_left li:hover{
    background: #bd0000;
}


#cbl_main_right{
     float: left;
    width: 75%;
     height: 100%;
     display: flex;
     justify-content: flex-start;
     align-content: flex-start;
     flex-wrap: wrap;
     padding-top: 10px;
}

#cbl_main_right a{
    display: block;
    width: 42.5px;
    height: 30px;
    color-interpolation: #fff;
    margin-right: 3px;
    margin-bottom: 3px;
}

#cbl_main_right a  img{
    width: 42.5px;
    height: 30px;
}

