#regist_main{
    width: 880px;
    height: 440px;
    margin: 0px auto;

}
#backindex{
    width: 780px;
    margin: 0 auto 5px;
    text-align: right;
}

#backindex>a{   
    font-size: 12px;
    color: #999;
}
#login_yhm{
    position: relative;
}
#login_yhm #login_tishi{
    padding-right: 5px;
    position: absolute;
    left: 90px;
    top: -26px;
    min-width: 10px;
    height: 21px;
    background: #fceae8;
   color: #e6594e;
   font-size: 12px;
   border: 1px solid #e6594e;
   text-indent: 20px;
   line-height: 21px;
   background-image:url(../images/zhucetanhao.png) ;
   background-repeat:no-repeat ;
   background-position:3px 4px;
}
#zhuche{
    width: 386px;
    height: 400px;
    float: right;
    margin-top: 40px;
}
#zhuche label{
    font-size: 14px;
    color: #666;
}

#regist_main p{
    font-weight: 800;
    height: 30px;
    color: #333;
    font-size: 18px;
    line-height: 30px;
}
#regist_main{
    background-image:url(../images/login.jpg) ;
    background-repeat:no-repeat ;
    overflow: visible;
    background-position:left 30px;
}

#regist_main p span{
     font-weight: 100;
    color: #CECECE;
    font-size: 12px;
}

#zhuce_form{   
    background: #fafafa;
    width: 384px;
    height: 290px;
}
#zhuce_form>div{
    margin: 15px auto;
}
#zhuce_form>div:nth-of-type(1){
    padding-left: 40px;
}

#zhuce_form>div:nth-of-type(2){
    padding-left: 40px;
}
#zhuce_form>div:nth-of-type(3){
    padding-left: 40px;
}
#zhuce_form>div:nth-of-type(4){
    padding-left: 40px;
}
#zhuce_form>div:nth-of-type(5){
    padding-left: 40px;
}
#zhuce_form{
    overflow: hidden;
}
#zhuce_form #login_yhm{
    margin-top: 35px;
}

#mima1 input{
    margin-left: 14px;
}


#login_psw1,#login_username,#psw2{
    width: 230px;
    height: 30px;
    border: 1px solid #ccc;
}

#login_psw3{
    width: 65px;
    height: 24px;
    border: 1px solid #ccc;
}

#last_login a{
    float: left;
}
#last_login a:nth-of-type(2){
    font-size: 12px;
    color: #777;
    margin-top: 20px;
    margin-left: 8px;
}
#guiyuan{
    clear: both;
    padding-top: 30px;
}
#guiyuan a{
    float: left;
    text-decoration: underline;
    color: orange;
    font-size: 12px;
    margin-left: 10px;
}
#guiyuan span{
    float: left;
    color: #ccc;
    font-size: 12px;
    margin-left: 10px;
}


#login_btn{
    display: block;
    width: 89px;
    height: 37px;
    background: #dc4605;
    border-radius: 3px;
    border: 0;
    margin-left: 98px;
    color: #fff;
    line-height: 37px;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
}

#yzm #login_changpic{
    background: #eee;
    font-weight: 800;
}

#yzm b a{
    color: #666;
    font-size: 14px;
}
#imsure span{
    color: #666;
    font-size: 14px;
}
#imsure span a{
    color: #3366dd;
    text-decoration: underline;
    font-size: 14px;
}


#zhuche{
    position: relative;
}

#regist_right{
    position: absolute;
    right: 80px;
    top: 100px;
}


#regist_right_title strong{
    font-size: 14px;
}

#regist_right_title a{
    margin-left: 7px;
    margin-top: 8px;
     color: #cc6666;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
     display: block;
    width: 89px;
    height: 30px;
    background: pink;
    border-radius: 3px;
    border: 0;
    border: 1px solid #f1d9a5;
    opacity: 0.8;
}
#regist_right_title a:hover{
    opacity: 1;
}

.active1{
    background: ghostwhite;
}


#login_links .dead{
    color: #999;
    font-size: 14px;
}

#login_links_list a{
    float: left;
    margin-right: 26px;
}
